<div class="header">
    <div class="row">
      <div class="col logo col-md-2 d-flex align-items-center">
        <img src="assets/yinhla.png" routerLink="" height="100px" width="auto" wialt="" alt="Yinhla Energy Solutions"/>
      </div>
      <div class="col col-md-2">
        
      </div>
      <div class="col col-md-6 d-flex align-items-center spread-items navbar">
        <li><a  routerLink="/about">ABOUT US</a></li>
        <li><a  routerLink="/">SOLAR SYSTEM</a></li>
        <li><a routerLink="/services">ELECTRIFICATION</a></li>
        <li><a routerLink="/contact">PROJECT MANAGEMENT</a></li>
        <li><a routerLink="/contact">MAINTENANCE</a></li>
        <li><a href="src/app/contact/contact.component.html"></a></li>
      </div>
      <div class="col col-md-2 d-flex align-items-center contact">
         <li style="padding: 10px 10px 10px 10px; background-color: #67AC5B;"><a style="color: white;" routerLink="/src/app/contact/contact">069 319 6261</a></li>
      </div>
    </div>
</div>
  <!-- <div class="row feedback">
      We appreciate any feedback you have. Please submit your compliments and complaints here. 
  </div> -->
  