<div class="footer">
    <div class="row services">
        <div class="col-md-2 location">
           <h6 style="font-weight: bold;"> We are here</h6>
            <p>16 Woodpecker Village</p>
            <p>Kempton Park</p>
            <p>1619</p>
        </div>
        <div class="col-md-2">
            <h6 style="font-weight: bold;">Solar system</h6>
            <li><a href="">Residential </a></li> 
            <li><a href="">Commericial </a></li> 
            <li><a href="">Energy audit </a></li> 
            <li><a href="">Inspection and Testing </a></li> 
            <li><a href="">Issuing of CoC </a></li> 
            <li><a href="">Maintenance </a></li> 
        </div>

        <div class="col-md-2">
            <h6 style="font-weight: bold;">Electrification</h6>
            <li><a href="">Residential </a></li> 
            <li><a href="">Commericial </a></li> 
            <li><a href="">Energy audit </a></li> 
            <li><a href="">Inspection and Testing </a></li> 
            <li><a href="">Issuing of CoC </a></li> 
            <li><a href="">Maintenance </a></li>         </div>

        <div class="col-md-2">
            <h6 style="font-weight: bold;">Project management</h6>
            koKP
        </div>
        <div class="col-md-3">
            <h6 style="font-weight: bold;">Contact us</h6>
            <p>Contact number: 069 319 6261</p>
           <p>Email: info@yinhlaenergy.co.za</p>
        </div>
    </div>
    <div class="row socials">
        <div class="copyright">
            <p>Copywright &copy; {{getCurrentYear()}} Yinhla energy solutions is a registered server provider </p>
        </div>
        <div class="col-md-12" style="text-align: center;">
           <img src="assets/facebook_footer.png" alt="">
           <img src="assets/insta_footer.png" alt="">
           <img src="assets/twitter_footer.png" alt="">
        </div>
    </div>
</div>
