<div class="container">
    <h3>About us</h3>
    <p>Yinhla Energy Solutions (Pty) Ltd is an engineering company specializing in electrical engineering, renewable energy, and project management. The company is a level 1 BBBEE contributor, and 100% black owned and managed. Yinhla Energy Solutions was established in 2022 with an objective of partaking in the journey of bringing best engineering solutions to South Africa and the entire world.
        The company has in-house personnel that are registered with Department of Labour as Installation Electricians, with Engineering Council of South Africa (ECSA), and are members of South African Institute of Electrical Engineer (SAIEE). 
        Our core strength is in the delivery of sound solutions and advisory services, and we utilise our skills to save our clients’ money and time, reduce risks, increase efficiency, and maximise sustainable outcomes.
        Our main objectives in the renewable energy space include but not limited to the following:</p>
       <p> •	Reduce carbon emissions </p>
       <p> •	keep lights on and businesses running during loadshedding</p>
       <p> •	Provide supplement power to bring stability to the national grid.</p>
</div>