

<div class="main home-image">
    <div class="row ">
    <div class="col-md-12">
        <div class="text-overlay">
            <h2>Take charge of your lights</h2>
            <p class="pb-3">Simply ping us and we'll make sure to <br>contact you back with a suitable package</p>
            <div class="contact_me pt-3" >
                <button type="button" style="border: solid 3px #f0ead1;" class="btn btn-secondary">Call me back</button>
               <button type="button" style="margin-left: 150px; border: solid 3px #f0ead1;"  class="btn btn-primary">Get a quote</button>
               </div>
          </div>
          <img  src="assets/solar.jpg" height="500px" width="100%" alt="">


    </div>


    </div>
   
  </div>

  <div class="testimonials">
    <div class="row">
      <h3 style="text-align: center;">Some of our happy clients</h3>

    </div>
    <div class="row">
          <div class="col-md-2 clients">
            <img  class="client" src="assets/suntech.jpeg" height="150px" alt="">
            <p style="text-align: center;">Suntech solar</p>
          </div>
          <div class="col-md-2 clients">
            <img class="client" src="assets/imbali.jpeg" height="150px" alt="">
            <p style="text-align: center;">Imbali Botique</p>

          </div>
        

          <div class="col-md-2 clients">
            <img class="client" src="assets/saluseke.jpeg" height="150px" alt="">
            <p style="text-align: center;">Imbali Botique</p>

          </div>
          <div class="col-md-2 clients">
            <img class="client" src="assets/mbita.jpeg" height="150px" alt="">
            <p style="text-align: center;">Mbita</p>

          </div>
         
          <div class="col-md-2 clients">
            <img class="client" src="assets/ltm.jpeg" height="150px" alt="">
            <p style="text-align: center;">LTM</p>

          </div> 
          <div class="col-md-2 clients">
            <img class="client" src="assets/II5.jpeg" height="150px" alt="">
            <p style="text-align: center;">Imbali Botique</p>

          </div>
         

    </div>
   
  </div>

